/* Global Styles */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-white: #ffffff;
    --color-bg-color: #F6F5F3;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
ol{
    list-style: none;
}
li, h4{
    font-size: 15px;
    line-height: 40px;
}
body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Debug */
.debug{
    border: 1px solid red;
}

/* Utilitues */
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flex-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-list{
    display: flex;
    flex-direction: column;
    
}

/* Background */
.bg-white{
    background-color: var(--color-white);
}
.bg-grey{
    background-color: var(--color-bg-color);
}
.bg-purple{
    background-color: var(--color-primary);
}

/* Pages */
/* Header */
header, footer{
    min-height: 70px;
    padding: 20px;
}
h1{
    text-align: center;
    color: var(--color-contrast);
    font-family: "Nerko One", cursive;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Main */
/* First Section */

.contenuto{
    padding: 25px;
}
.intestazione p{ 
    font-size: 14px;
    opacity: 0.3;

}
.intestazione span{
    display: none;
}
.intestazione h2{
    padding: 15px 0;
    font-size: 25px;
    width: 100%;
    color: var(--color-dark-text);
}
.container{
    max-width: 526px;
    margin: 0 auto;
   
}
.contenitore{
    max-width: 100%;
    
}
img{
    width: 100%;
    display: block;
}
.in-breve{
    width: 100%;
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 5px 10px 18px #888888;
}
.in-breve h4{
    font-size: 17px;
}

/* Social Section */
.social p{
    color: black;
    padding-left: 5px;
    display: none;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}
.social a{
    padding: 10px 15px;
    background-color: white;
    border-radius: 40%;
    box-shadow: 5px 10px 18px #888888;
    font-size: 20px;
}
.social a:hover{
    cursor: pointer;
}
#facebook{
color: rgba(26, 119, 243, 1);
}
#twitter{
color: rgba(0, 158, 255, 1);
}
#instagram{
color: rgba(226, 91, 149, 1);
}
#pinterest{
color: rgba(230, 34, 34, 1);
}
#youtube{
color: rgba(230, 34, 34, 1);
}


/* Second Section */

.presentation{
    margin-top: 60px;
}
.presentation p{
    font-size: 22px;
}
.float p{
    font-size: 18px;
    padding-bottom: 40px;
}
hr{
    width: 12%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid var(--color-contrast);
}
.presentation img{
    width: 50%;
}
.float img{
    float: left;
    padding-right: 18px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: left;
}

/* Footer */
footer li a{   
    color: var(--color-white);
    }
footer li{   
padding: 5px;
    font-size: 0.92em;
    width: calc(100% / 4);
    
}
.color-text{
    color: var(--color-white);
}
.small-container{
    width: 100%;
}

/* AD */
.ad img{
    margin-top: 50px;
    display: none;
}


/* MEDIA QUERY */

@media screen and (min-width: 768px){

    
    .container{
    max-width: 718px;
    }
    .ad img{                    
        display: block;
    }
    .social a{
        padding: 11px 49px;
    border-radius: 59px 59px;
    
    }
    .intestazione span{
        display: inline-block;
    }
    .flex-list{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
    .flex-list li{
        width: calc(100% / 3);
    }

}

@media screen and (min-width: 992px){
    
    .container{
        max-width: 972px;
        }
    .social p{
        display: inline-block;
    }
    .flex-list li{
        width: 100%;
    }
    .flex{
        display: flex;
        width: 100%;
        border: 1px solid red;
    }
    .immagine img{
        width: 100%;
        border: 1px solid red;
        
    }
    .in-breve {
        flex-direction: column;
        display: flex;
        border: 1px solid red;
        padding: 0;
        width: 40%;
        padding-left: 15px;
        padding-top: 10px;
    }

    .social{
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .social a{
        padding: 11px 20px;
    
    }

    .presentation img{
        width: 30%;
    }

    .social i{
        vertical-align: middle;
    }
    .social p{
        font-size: 15px;
        vertical-align: middle;
    }

    .flex-col{
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }
    footer li{   
        padding: 0 20px;
            width: auto;
        }
    .flex-footer{
        
        align-items: center;
        justify-content: space-between;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
     }

     
}